<!--<html>
<head>
<title>Sms Edu Report</title>
<h1 align="center">Welcome to Sms Edu Report</h1>
</head>

<body>
    <script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-ui-router.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="js/libs/ui-bootstrap-tpls-0.11.2.min.js"></script>
	
    <script src="js/app.js"></script>
</body>
</html>-->

<!DOCTYPE html>
<html data-ng-app='myApp'>
<head>
  <meta charset='utf-8'>
  <title>Index</title>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
  <script src='https://rawgit.com/ghostbar/angular-file-model/master/angular-file-model.js'></script>
  <script src='js/app.js'></script>

  <!--<script type="text/javascript" charset="utf-8">
    var app = angular.module('myApp', ['file-model']);

    app.controller('DemoCtrl', function ($scope) {
      $scope.file = null;
      
      
      $scope.$watch('file', function (newVal) {
        if (newVal)
          console.log('---'+newVal);
      })
    });
  </script> -->
</head>
<body data-ng-controller='DemoCtrl'>

  <h1>Sms Edu Report</h1>
 
  
  

  <form>
    <input type='file' file-model='file'>
	<button type='button' ng-click='upload()'>Upload</button>
  </form>
  
  <p ng-if='file'>
    The name of your file is {{ file.name }} and the size is of {{ file.size }} bytes.
  </p>
  
  <!--<p ng-if='file'>
    If you want to have something like ngChange the best way ATM is to use a $scope.$watch over the variable you pass to file-model just like in this code.
  </p>-->
  
</body>
</html>