<!DOCTYPE html>
<html data-ng-app='myApp'>
<head>
  <meta charset='utf-8'>
  <title>Index</title>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
  <script src='https://rawgit.com/ghostbar/angular-file-model/master/angular-file-model.js'></script>
  <script src='js/app.js'></script>

</head>
<body data-ng-controller='DemoCtrl'>

  <h1>Sms Edu Report</h1>
 
  <form>
    <input type='file' file-model='file'>
	<button type='button' ng-click='upload()'>Upload</button>
  </form>
  
  <p ng-if='file'>
    The name of your file is {{ file.name }} and the size is of {{ file.size }} bytes.
  </p>
  
</body>
</html>